.menubar {
	overflow: hidden;
	background-color: #333; 
  display: inline-block;
  width: 100%;
  position: relative;
}

.menubar .logo img {
  float: left;
}

.menubar .menuitems {
  float: left;
  display: inline-block;
  position: relative;
  top: 100px;
  margin-left: 10px;
}

.menubar .menuitems .link {
	float: left;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menubar .link:hover {
	background-color: red;
}